@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="margin-top: 50px">
    <h1 class="display-4">Welcome to Communities</h1>
    <a class="btn btn-primary" asp-controller="Communities" asp-action="Index">Get started</a>
</div>
